<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
   <style type='text/css'>
.logo {padding:10px 0; border-bottom:1px dotted black; margin:0 5em 0 5em;}
.logo a, .logo img {border-width:0px;}
.logo img {vertical-align:middle;}
.logo p {display:inline; margin:0px 1em;vertical-align:middle;}
.logo p a {background:none;}
.logo ul {list-style-type:none; display:inline; vertical-align:middle;}
.logo li {display:inline;}
.logo li.droite {float:right;}
.logo li {padding:1px 5px;}
.logo ul li:before {content: " [";}
.logo ul li:after {content: "] ";}
    </style>
</head>
